:root {
    font-family:
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Arial,
        sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    color:#000000;
    background:
        radial-gradient(900px 500px at 15% 8%, #e6a23e, transparent 60%),
        radial-gradient(900px 500px at 85% 18%, #eca92d55, transparent 60%),
        radial-gradient(900px 500px at 50% 95%, #c78b09, transparent 60%),
        linear-gradient(180deg, #ffd96f 0%, #e7c816 100%);
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 42px 16px;
}
